body{
  font-family: 'kanit';
}
.page-h1{
    text-align: center;
    font-size:30px;
    color: blue;

}

.page-h2{
    font-size:25px;
    color: rgb(23, 154, 93);
    /* background-color: rgb(5, 20, 20); */
    padding-left: 30px;

}


.page-h3{
  font-size:18px;
  color: rgb(0, 0, 0);
  /* background-color: rgb(5, 20, 20); */
  padding-left: 30px;
 font-weight: bold;

}

.page-h4{
  font-size:16px;
  color: rgb(0, 0, 0);
  /* background-color: rgb(5, 20, 20); */
  padding-left:30px;
 font-weight: lighter;

}

.product{
    border: 4px solid;
}

.img-center{
 margin-left: 30%;
 padding: 20px;
}

.img-center{
    margin-left: 30%;
    padding: 20px;
}

ิ.add-cart{
   border: none;
    background-color: #000;

    color: #fff;
    font-size: 20px;
    text-transform:uppercase;
    cursor: pointer;
    width: 80px;
  }

  .add-cart:hover {
    color: #000;
    background-color: #fff;
  }


