.section-cta{
    padding: 8.6rem 0;
}
.cta{
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: #333;
    box-shadow: 0 2.4rem 4.8rem rgba(0,0,0,0.75);
    border-radius: 11px;
    height: 35rem;
  overflow: hidden;
}
.cta-text-box{


}
.cta-img-box{
  background-image:linear-gradient(
    to bottom,
    #6867678e, 
    #8d8a8a8b),
     url(img/hypage.jpg);
  background-size: cover;
  background-position: center;
}

.container{
    max-width: 120rem;
    padding: 0 3.2rem;
    margin: 0 auto;

}